.sidebar {
  width: 100%;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sideTop {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: auto;
  height: auto;
  object-fit: cover;
}
.userList {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userList > select {
  width: 90%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.menuList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menuList > div {
  list-style: none;
  width: 93%;
  height: 35px;
  margin: auto;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 600;
  border-radius: 5px;
  padding-left: 10px;
}
.menuList > div:hover {
  background-color: blue;
  color: #fff;
}
.sideBottom {
  width: 100%;
  height: auto;
}
