.grid_wrapper {
  height: 100%;
  max-height: 74vh;
  overflow-y: hidden;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.1rem;
  padding: 1.1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.grid::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .grid_wrapper {
    width: 100%;
    height: auto;
    max-height: none;
    overflow-y: visible;
    position: static;
  }

  .grid {
    width: 100%;
    overflow-y: visible;
    height: auto;
    padding: 5px;
    gap: 3px;
  }
}
